<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<body>
<h1>SEARCH RESULTS</h1>
<hr>
<br>
{%for i in all_data%}
    {%if i.pending == "1"%}
        {%if i.phone.find(phone)!=-1 or i.sms_number.find(phone)!=-1 or i.name.find(phone)!=-1 or i.type.find(phone)!=-1%}
            <h3>{{i.type}}</h3>
            <ul>
                <li>
                    <h4>NAME: {{i.name}}</h4>
                </li>
                <li>
                    <h4>NUMBER OF INJURED PEOPLE: {{i.injured}}</h4>
                </li>
                <li>
                    <h4>PHONE 1: {{i.phone}}</h4>
                </li>
                <li>
                    <h4>PHONE 2: {{i.sms_number}}</h4>
                </li>
                <li>
                    <h4>ADDRESS: {{i.address}}</h4>
                </li>
                <li>
                    <h4><a href="http://maps.google.com/maps?q=loc:{{i.latitude}},{{i.longitude}}">LOCATE ON MAP</a></h4>
                </li>
                <li>
                    <h4>DATE TIME (YYYY-MM-DD  HH:MM:SS): {{i.date}}</h4>
                </li>
            </ul>
            <hr>
        {%endif%}
    {%endif%}
{%endfor%}
</body>
</html>
